html,  body {
	margin: 0px;
	padding: 0px;
	color: #aeaeae;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background-color: #26163d;
	background-repeat: repeat-x;
	background-position: top;
}
    
   #pagewidth{ 
    width:100%; 
    text-align:left; 
    margin:0 auto; 
   } 
    
   header{
    position:relative; 
    height:30px; 
    background-color:#79E9C0; 
    width:100%;
    display:block;
    overflow:auto;
   } 
    
   main{
    background-color: #A9E9FF;  
    position: relative; 
    }
    
   footer{
    height:20em; 
     background-color:#4693EC; 
    clear:both;
    display:block;
    overflow:auto;
   } 