body {
   background: #f3f2f3;
   background-image: url(../styles/images/backgroundBlue.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #000000;
   /*font-family: Trebuchet MS, Arial, Times New Roman; 
   font-size: 12px;*/
}
#name{
   right: 200px;
}
#container {
   background:rgb(202, 206, 202);
   margin: 30px auto;
   width: 900px;
   height: 600px;
}

#header {
   background: rgb(117, 231, 222);
   height: 100px;
   width: 900px;
}

#navigation {
   background: #FF9999;
   width: 900px;
   height: 20px;
}

#menu {
   background: rgb(25, 192, 184);
   float: right;
   width: 200px;
   height: 200px;
}

#content {
   background: #99CC99;
   float: left;

   width: 600px;
   height: 400px;
}

#clear {
   clear:both;
}

#footer {
   background: #87b0c9;
   height: 80px;
   width: 900px;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 25px 0 5px;
  text-align: center;
  background: rgb(117, 231, 222);
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #c70c0c;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #c90dc9;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}